* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline-style: none;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    
}

body{
    background-color: #1a1a1a;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}


.historia:hover{
    transition: 0.5s;
}

.containerNav {
    position: absolute;
    width: 100%;
    height: 11vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
    font-size: 20px;
}

/* .containerNav{
    width: 100%;
    display: flex;
    align-items: center;
} */

.containerNav ul {
    display: flex;
}

a {
    color: grey;
}


.linavbar {  
    margin-left: 50px;
    padding: 15px 15px;
    border-radius: 30px;
    border: 4px solid white;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.linavbar:hover{
    transition: 0.5s;
    padding: 15px 30px;
}


.videoBack {
    position: relative;
    width: 100%;
}

.navbarIcon {
    width: 70px;
}

.Sobre {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    background-color: #1a1a1a; 
  
}

.imgvirus {
    display: block;
    max-width: 100%;
 
}

.sobreGame {
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    max-width: 70%;
    align-items: center;
    
}

.sobreGame p,
h3 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.historiimg{
    max-width: 100%;
    background-repeat: no-repeat;
}

.containerHist{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 120px;
}

.tituloGame{
    margin-bottom: 80px;
}

.historia-cont{
    display: flex;
    color: white;
    margin-top: 150px;
}
.sobreHistoria h1{
    display: flex;
    justify-content: center;
    color: white;
}

.imgHistoria{
    width: 40vh;
    border-radius: 10px;
}

.textoHistoria{
    display: flex;
    align-items: center;
    width: 60%;
}

.textoHistoria h2{
    
}

.musica{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.direitos{
    background-color: black;
    height: 4vh;
    margin-top: 40px;
}

.direitos p {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    
}